{% extends 'base.html.twig' %}
{% block body %}
	<div class="main">
		<div class="title">Back the Blue Yard Sign</div>
		<br>
		<table>
			<tr>
				<td><img src="../images/BackTheBlueYardSign.jpg" height="250"
					width="250" /></td>
				<td colspan="2">
					 Made from Corrugated plastic and fade resistant ink,
					these are made to last! We will place your sign(s) at your front
					door within 5 business days. Trophy Club residents only please. <br>
					<br> Thank you for your support! <br> <br> <!-- PAYPAL LINK -->
					<center>
						<form target="_blank"
							action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick"> <input
								type="hidden" name="hosted_button_id" value="M9AETKQAKS574">
							<table>
								<tr>
									<td><input type="hidden" name="on0"
										value="One Size Availble">One Size Available</td>
								</tr>
								<tr>
									<td><select name="os0" class="ppselect">
											<option value="Back The Blue Yard Sign">Back The
												Blue Yard Sign $10.00 USD</option>
									</select></td>
								</tr>
							</table>
							<input type="hidden" name="currency_code" value="USD"> <input
								type="image"
								src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif"
								border="0" name="submit"
								alt="PayPal - The safer, easier way to pay online!"> <img
								alt="" border="0"
								src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
								width="1" height="1">
						</form>
					</center>
				</td>
			</tr>
		</table>

	</div>
{% endblock %}