{% extends 'base.html.twig' %}
{% block body %}
	<h2 class="center">Trophy Club Emergency Volunteer Association</h2>
	<div style="overflow-x: auto;">
		<img class="center" src="/images/TCEVA-2023-logo.png" style="width:300px;height:424px;"/>
	</div>
{% endblock %}