{% extends 'base.html.twig' %}
{% block body %}
	<div class="main">
		<div class="title">Trophy Club Emergency Volunteer Association</div>
		<p>You can help the Trophy Club Emergency Volunteer Association
			(TCEVA) by donations and/or volunteering your time. Whether you can
			volunteer daily or a few hours each month, all your efforts are
			appreciated. Some volunteer positions may offer free training,
			enabling you to learn valuable new skills!</p>
		<p>Volunteers are always needed in the following areas:</p>
		<ul>
			<li>Citizens on Patrol (COP). Volunteers enhance the safety of
				our community by patrolling in a specially marked vehicle and
				alerting Police of any suspicious activity. This position requires
				training.</li>
			<li>Community Emergency Response Teams (CERT). The team assists
				the community by providing disaster preparedness education to the
				public through safety fairs, assisting first responders in searching
				for missing persons, responding during disasters, and assisting
				emergency services responders. This program is run in collaboration
				with Denton County.</li>
			<li>Fire Rehab. Fire department rehab is a vital firefighting
				service at the site of the fire, providing firefighters and other
				emergency personnel with immediate attention including food and
				rehydration, which prevents life threatening conditions like heat
				stroke or heart attack.</li>
			<li>Administrative assistance. Volunteers provide administrative
				assistance (photocopying, filing, research, etc.) to both the Fire
				and Police departments.</li>
			<li>Special Events. Volunteers assist with setup, security,
				traffic control, and event cleanup at town sponsored events and
				activities.</li>
		</ul>
		<p>The funding for these programs depends largely on generous
			donations from people like you. Here are some ways you can donate to
			help TCEVA:</p>
		<ul>
			<li>Amazon Wishlist. TCEVA needs constant supplies to keep our
				programs running as efficiently as possible. <br> Please click
				<a target="_blank"
				href="https://www.amazon.com/hz/wishlist/ls/2AWD26CXHJYGA/ref=nav_wishlist_lists_1?_encoding=UTF8&type=wishlist">here</a>
				to purchase items for us.
			</li>
			<li>Cash donations. Money collected goes directly to purchasing
				supplies, uniforms, equipment, and trainings. <br> To make a
				cash donation, please click on the link below which will direct you
				to PayPal.
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post"
					target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick" /> <input
						type="hidden" name="hosted_button_id" value="JT4XCM83SJKXG" /> <input
						type="image"
						src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
						border="0" name="submit"
						title="PayPal - The safer, easier way to pay online!"
						alt="Donate with PayPal button" /> <img alt="" border="0"
						src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1"
						height="1" />
				</form>
			</li>
		</ul>
		<p>Find us on Facebook at TCEVA-Trophy Club Emergency Volunteer
			Association 501(c)3.</p>
		<p>Please contact us with any questions about donating or
			volunteering.</p>

	</div>
{% endblock %}