{% extends 'base.html.twig' %}
{% block body %}
<div class="main">
		<h2 class="center">
			Trophy Club Emergency Volunteers Association<br><br>
			<img  src="/images/TCEVA-2023-logo.png" style="margin:auto;max-width: 250px;"/>
		</h2>
		
		<div class="clearfixxxx">
			<div class="img-containerL">
		
			</div>
			<div class="img-containerR">
				
			</div>
		</div>
	</div>
{% endblock %}